.userName {
  display: none;
  margin-left: 12px;
  color: rgb(41, 41, 41);
  transition: all 0.3s;
  text-transform: uppercase;
}
.userName_Box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 12px;
  color: rgb(41, 41, 41);
  transition: all 0.3s;
}

.menus {
  margin-right: 20px;
  a {
    margin-left: 30px;
    text-decoration: none !important;
    color: #fff;
    font-weight: bold;
    padding: 8px;
    border-radius: 5px;
  }
}
.Box_Menu_main {
  display: flex;
  flex-direction: column;
}
.Box_Menu {
  text-decoration: none !important;
  color: black;
  margin: 10px;
}
@media screen and (min-width: 768px) {
  .userName {
    display: flex;
  }
}

