.button_addTodo {
  position: fixed;
  bottom: 20px;
  left: 20px;
}
.btn {
  padding: 15px !important;
  border-radius: 20px !important;
  background-color: #b7f397 !important;
  svg {
    color: #042100;
    width: 32px;
    height: 32px;
  }
}
