.container_WorkSpase {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 31px;

  .box_ws {
    width: 100%;
    background-color: #fff;
    cursor: pointer;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    margin: 20px;
  }
}
.button_addTodo {
  position: fixed;
  bottom: 20px;
  left: 20px;
}
.btn {
  padding: 15px !important;
  border-radius: 20px !important;
  background-color: #b7f397 !important;
  svg {
    color: #042100;
    width: 32px;
    height: 32px;
  }
}
.loading_skeleton {
  span {
    width: calc(100% - 50px) !important;
    height: 250px;
  }
}
.box_main {
  display: flex;
  align-items: center;
  justify-content: center;
}
.box_team {
  display: flex;
  margin-top: 40px;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}

// responsive
@media (min-width: 600px) {
  .container_WorkSpase {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1100px) {
  .container_WorkSpase {
    grid-template-columns: repeat(4, 1fr);
  }
}
