.layout {
  background: linear-gradient(359deg, #d53b3a, #0882a6, #0ad4a0);
  background-size: 600% 600%;
  -webkit-animation: AnimationName 12s ease infinite;
  -moz-animation: AnimationName 12s ease infinite;
  animation: AnimationName 12s ease infinite;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box_auth {
  width: 400px;
  height: 100vh;
  background: rgb(255, 255, 255);
  border-radius: 12px;
  box-shadow: rgba(255, 255, 255, 0.25) 0px 13px 27px -5px,
    rgba(255, 255, 255, 0.3) 0px 8px 16px -8px;
  border: 1px solid rgb(255, 255, 255);

  > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.btn_auth {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.box_form {
  *::after {
    border-color: #6297db !important;
    color: #6297db !important;
  }
  margin-top: 30px;

  button {
    background: #6297db;
    color: #fff;
    width: 100%;
    margin-top: 45px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background: #3579d3;
      opacity: 0.9;
    }
  }
}
@media screen and (min-width: 401px) {
  .box_auth {
    height: 500px;
  }
}
@-webkit-keyframes AnimationName {
  0% {
    background-position: 44% 0%;
  }
  50% {
    background-position: 57% 100%;
  }
  100% {
    background-position: 44% 0%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 44% 0%;
  }
  50% {
    background-position: 57% 100%;
  }
  100% {
    background-position: 44% 0%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 44% 0%;
  }
  50% {
    background-position: 57% 100%;
  }
  100% {
    background-position: 44% 0%;
  }
}
