.box_todo {
  cursor: pointer;
  position: relative;
  transition: all 0.5s;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  &:hover {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
      rgba(0, 0, 0, 0.23) 0px 6px 6px;
  }
}

.todo_description {
  margin-top: 1px;
  height: 150px;
  width: 200px;
  max-width: 500px;
  resize: none;
  padding: 4px 6px;
  font-size: 16px;
  border-radius: 5px;
  border: 2px solid #ccc;
  transition: all 0.3s;
  &:active,
  &:focus-visible {
    outline: none;
    border: 2px solid rgb(29, 134, 231);
  }
}
#alert_dialog_title {
  font-size: 17px;
  transition: all 0.3s;
}
.timeaccest {
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
  p {
    margin-top: 18px;
  }
  font-size: 12px;
  svg {
    margin-right: 2px;
    margin-left: 25px;
    margin-top: 15px;
    width: 20px;
    height: 20px;
  }
}
.error_null {
  color: red;
  margin-top: 2px;
  font-size: 12px;
  visibility: hidden;
  transition: all 0.3s;
}

.loading_skeleton {
  span {
    width: calc(100% - 50px) !important;
    height: 250px;
  }
}

.text_body {
  font-size: 16px !important;
  max-width: 200px;
  display: block;
  overflow: hidden;
  max-height: 3em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card_actions {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0px;
  margin: 0px;
}
.TimeSpan {
  color: rgba(0, 0, 0, 0.753);
  text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2),
    0px -3px 35px rgba(255, 255, 255, 0.3);
}
// responsive
@media (min-width: 600px) {
  .container_todo {
    grid-template-columns: repeat(2, 1fr);
  }
  .todo_description {
    height: 170px;
    width: 300px;
  }
}

@media (min-width: 1100px) {
  .container_todo {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 768px) {
  #alert_dialog_title {
    font-size: 25px;
  }

  .todo_description {
    width: 450px;
  }

  .error_null {
    color: red;
    margin-top: 2px;
    font-size: 16px;
    visibility: hidden;
  }
}
